#hero {
    height: 50vh;
    width: 100%;
    background: url(img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

    h1, h2 { 
        margin: 0 auto 5px auto;
    }

    h2 {
        font-family: "Raleway", Helvetica Neue, sans-serif;
        font-size: 20px;
        font-weight: 300;
    }
}

#hero-foreground {
    max-width: 75%;
    text-align: center;
}

