#hero {
    height: 50vh;
    width: 100%;
    background: url(img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

    h1, h2 { 
        font-size: 50px;
        margin: 0 auto 5px auto;
        color: white;
        text-shadow: 1px 1px 0 darkgray;
    }

    h2 {
        font-family: Roboto, sans-serif;
        font-size: 20px;
        font-weight: normal;
        text-shadow: none;
    }

    img {
        max-width: 40%;
    }
}

#hero-foreground {
    max-width: 75%;
    text-align: center;
}

#home-content {
    padding: @page-vert-padding @page-horiz-padding;
}
