@import (inline) "./node_modules/normalize.css/normalize.css";
@import (inline) "./node_modules/font-awesome/css/font-awesome.min.css";

@import "home/index";
@import "palette";
@import "typography";
@import "forms";
@import "buttons";
@import "notifications";
@import "canyons/new";
@import "canyons/show";

* {
    box-sizing: border-box;
}

#site-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    & > div {
        position: relative;
    }
}

#logo {
    position: absolute;
    left: 15px;
    top: 5px;
}

#account-actions {
    position: absolute;
    right: 15px;
    top: 5px;
}
