@import (inline) "./node_modules/normalize.css/normalize.css";
@import "home/index";
@import "palette";
@import "typography";
@import "forms";
@import "buttons";
@import "notifications";
@import "canyons/new";

* {
    box-sizing: border-box;
}

#site-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: right;
    padding: 5px 15px;
}

#render {
    margin-top: 50px;
}
