@import (inline) "./node_modules/normalize.css/normalize.css";
@import (inline) "./node_modules/font-awesome/css/font-awesome.min.css";

@import url(https://fonts.googleapis.com/css?family=Alfa+Slab+One);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:700,400);
@import url(https://fonts.googleapis.com/css?family=Raleway);

@import "home/index";
@import "palette";
@import "typography";
@import "forms";
@import "buttons";
@import "notifications";
@import "canyons/new";
@import "canyons/show";

* {
    box-sizing: border-box;
    font-family: "Raleway", Helvetica Neue, sans-serif;
}

p {
    line-height: 1.2;
    font-size: 18px;
}

h1, h2, h3, h4 {
    color: #263238;
    font-family: "Roboto Condensed";
    font-weight: 700;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 32px;
    margin-bottom: 10px;
    color: #607d8b;
    clear: both;
}

#site-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    & > div {
        position: relative;
    }
}

#logo {
    position: absolute;
    left: 15px;
    top: 5px;
}

#account-actions {
    position: absolute;
    right: 15px;
    top: 5px;
}
